BOT_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE
BOT_NAME=Bonus Bot
WELCOME_TEXT=Привет! Добро пожаловать в наш Telegram-бот.

Нажми на кнопку ниже, чтобы получить бонус.
BONUS_TEXT=<b>🎡 Тебе доступно одно <u>БЕСПЛАТНОЕ</u> вращение в <a href="https://t.me/play_spinrise_bot/dapp?startapp=chbBHNzaPxA">турбине удачи JetTon</a> ✈️</b>

🎁 Крути турбину <b>ЕЖЕДНЕВНО</b> и получай реальные денежные бонусы 🚀

✅ <a href="https://t.me/play_spinrise_bot/dapp?startapp=chbBHNzaPxA">Активируй бонус</a> <b>425% к депам и 250 ФРИСПИНОВ</b> для быстрого старта ⚡️

▶️ <a href="https://t.me/play_spinrise_bot/dapp?startapp=chbBHNzaPxA">ЖМИ И КРУТИ КАЖДЫЙ ДЕНЬ</a> ◀️
BUTTON_TEXT=Получить бонус!
PROMO_BUTTON_TEXT=ЖМИ И КРУТИ КАЖДЫЙ ДЕНЬ
PROMO_URL=https://t.me/play_spinrise_bot/dapp?startapp=chbBHNzaPxA
DAILY_INTERVAL_HOURS=24
DAILY_CHECK_EVERY_MINUTES=10
DATA_DIR=/data
PROMO_MESSAGE=<b>🎡 Тебе доступно одно <u>БЕСПЛАТНОЕ</u> вращение в <a href="https://t.me/play_spinrise_bot/dapp?startapp=chbBHNzaPxA">турбине удачи JetTon</a> ✈️</b>

🎁 Крути турбину <b>ЕЖЕДНЕВНО</b> и получай реальные денежные бонусы 🚀

✅ <a href="https://t.me/play_spinrise_bot/dapp?startapp=chbBHNzaPxA">Активируй бонус</a> <b>425% к депам и 250 ФРИСПИНОВ</b> для быстрого старта ⚡️

▶️ <a href="https://t.me/play_spinrise_bot/dapp?startapp=chbBHNzaPxA">ЖМИ И КРУТИ КАЖДЫЙ ДЕНЬ</a> ◀️
